.title{
  margin-left: 110px;
  color: rgb(194, 196, 197);
  font-size: 1.5rem;
}
.apps-container {
  display: flex;
}
.apps{
  padding: 10px 15px;
}
.apps i{
  cursor: pointer;
}
.apple{
  color: gray;
}
.music{
  color:orange;
}
.games{
  color: greenyellow;
}
.videos{
  color:rgb(105, 105, 247);
}
.insta{
  color: palevioletred;
}
.settings{
  color:rgb(245, 159, 159);
}