.songs{
  display: flex;
}
.songs-menu{
  background-color: #d3d5d6;
  height: 100%;
  width: 120px;
}

ul{
  width: 100%;
  padding: 0px;
  list-style: none;
}

li{
  padding: 10px 0px;
}

.active{
  padding-left: 5px;
  position: relative;
  background-color: rgb(55, 150, 220);
  color: white;
}

.active::after{
  position: absolute;
  content: ">";
  right: 2px;
}

.rightScreen-img{
  height: 200px;
  width: 160px;
} 